body
{
	font-family:sans-serif;
}

label,select,input
{
	display:block;
}

label
{
	margin-top:1em;
	margin-bottom:1em;
}

select, input
{
	width:25em;
}

.submit
{
	width:auto;
}

h1
{
	font-size:100%;
	font-weight:bold;
	width:25em;
}

a.imagelink img
{
	border:none;
}

